# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TeamNamePending.iml
# Datasource local storage ignored files
/../../../../../../:\Git\TeamNamePending\.idea\.idea.TeamNamePending\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
